//   ------------------------------------
//   VARIABLES
//   ------------------------------------

//color
$color-primary: #E5FAFC;
$color-secondary: #1A1F28;
$color-highlight: #738094;

//background
$background-gradient-1: linear-gradient(85deg, #1A1F28 0%, #738094 50%, #1A1F28 100%);

//font
$font-family: 'Karla', sans-serif;
$font-regular: 400;
$font-bold: 600;