@use "var";                      // VARIABLES 
@use "general";                  // GENERAL 


// FullPage
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: var.$color-secondary;
}

//Slide
.slide {
    &__img img {
       width: 90%;
       @media screen and (min-width: 992px) {
           width: 100%;
       }
    }
    &__title {
        display: inline;
        font-size: 64px;
        font-weight: var.$font-bold;
        text-transform: uppercase;
        background: var.$background-gradient-1;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (min-width: 992px) {
            font-size: 88px;
        }
    }
    &__tags {
        padding-bottom: 32px;
    }
    &__tag {
        background-color: var.$color-primary;
        padding: 2px 8px;
        margin-right: 8px;
    }
}

.h-3 {
    font-size: 24px;
    color: var.$color-secondary;

    @media screen and (min-width: 992px) {
        font-size: 32px;
    }
}

.btn {
    padding: 12px 32px;
    margin-top: 56px;
    border-radius: 0;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: var.$font-regular;
    text-transform: uppercase;
    color: #fff;

    background-size: 300% 100%;

    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    background-image: linear-gradient(140deg, #1A1F28 50%, #4f5c6e 70%, #1A1F28 100%);

    &:hover {
        color: var.$color-primary;
        box-shadow: 0 10px 16px -8px rgba(45, 54, 65, 0.65);

        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}

